<% include partials/header %>
  <section id="contact-page">
    <div class="container">
      <div class="center">
        <h2>Have A Quick Search</h2>

      </div>
      <div class="row contact-wrap">
        <div class="status alert alert-success" style="display: none"></div>
        <div class="col-md-6 col-md-offset-3">
          <div id="sendmessage">Your message has been sent. Thank you!</div>
          <div id="errormessage"></div>
          <form action="" method="post" role="form" class="contactForm">
            <div class="form-group">
              <input type="text" name="name" class="form-control" id="name" placeholder="Enter The Doctors Name" data-rule="minlen:4" data-msg="Please enter at least 4 chars" />
              <div class="validation"></div>
            </div>
            <h2 class="text-center">Local Search</h2>
          <div class="form-group">
            <select class="form-control">
                <option>Andhra Pradesh</option>
                <option>Arunachal Pradesh</option>
                <option>Assam</option>
                <option>Bihar</option>
                <option>Goa</option>
                <option>Gujarat</option>
                <option>Haryana</option>
                <option>Himachal Pradesh</option>
                <option>Jammu & Kashmir </option>
                <option>Karnataka </option>
                <option>Kerala</option>
                <option>Madhya Pradesh</option>
                <option>Maharashtra</option>
                <option>Manipur</option>
                <option>Meghalaya</option>
                <option>Mizoram</option>
                <option>Nagaland</option>
                <option>Orissa</option>
                <option>Punjab</option>
                <option>Rajasthan</option>
                <option>Sikkim</option>
                <option>Tamil Nadu</option>
                <option>Tripura</option>
                <option>Uttar Pradesh</option>
                <option>West Bengal</option>
                <option>Chhattisgarh</option>
                <option>Uttarakhand</option>
                <option>Jharkhand</option>
                <option>Telangana</option>
            </select>
          </div>
          <div class="form-group">
          <select class="form-control form-control-sm">
              <option>Bhubaneswar</option>
              <option>Cuttack</option>
              <option>Roulkela</option>
              <option>Sambalpur</option>
              <option>Anugul</option>
              <option>Bhadrak</option>
              <option>Puri</option>
              <option>Baripada</option>
              <option>Balasore</option>
              <option>Jeypore</option>
          </select>
        </div>
        <div class="form-group">
        <select class="form-control form-control-sm">
            <option>Cardiology</option>
            <option>Orthopedic Surgeon</option>
            <option>Gastroenterology</option>
            <option>Urology</option>
            <option>Dermatology</option>
            <option>Neurology</option>
            <option>OB/GYN</option>
            <option>Emergency Medicine</option>
            <option>Pediatrics</option>
            <option>Psychiatry</option>
        </select>
      </div>
            <div class="text-center"><button type="submit" name="submit" class="btn btn-primary btn-lg" required="required">Search The Doctors</button></div>
          </form>
        </div>
      </div>
      <!--/.row-->
    </div>
    <!--/.container-->
  </section>
  
    <section id="portfolio">
    <div class="container">
      <div class="center">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit sed do eiusmod tempor incididunt</p>
      </div>

      <ul class="portfolio-filter text-center">
        <li><a class="btn btn-default active" href="#" data-filter="*">All</a></li>
        <li><a class="btn btn-default" href="#" data-filter=".bootstrap">Dermatologist</a></li>
        <li><a class="btn btn-default" href="#" data-filter=".html">Neurologist</a></li>
        <li><a class="btn btn-default" href="#" data-filter=".wordpress">gynecologist</a></li>
      </ul>
      <!--/#portfolio-filter-->
    </div>
    <div class="container">
      <div class="">
        <div class="portfolio-items">
          <div class="portfolio-item apps col-xs-12 col-sm-4 col-md-3">
            <div class="recent-work-wrap">
              <img class="img-responsive" src="images/portfolio/full/itm1.jpg" alt="">
              <div class="overlay">
                <div class="recent-work-inner">
                  <h3><a href="#">Dr. A k Mohapatra</a></h3>
                  <p>There are many variations of passages of Lorem Ipsum available, but the majority</p>
                  <a class="preview" href="images/portfolio/full/itm1.jpg" rel="prettyPhoto"><i class="fa fa-eye"></i> View</a>
                </div>
              </div>
            </div>
          </div>
          <!--/.portfolio-item-->

          <div class="portfolio-item joomla bootstrap col-xs-12 col-sm-4 col-md-3">
            <div class="recent-work-wrap">
              <img class="img-responsive" src="images/portfolio/full/itm2.jpg" alt="">
              <div class="overlay">
                <div class="recent-work-inner">
                  <h3><a href="#">Dr. P R Pattnaik</a></h3>
                  <p>There are many variations of passages of Lorem Ipsum available, but the majority</p>
                  <a class="preview" href="images/portfolio/full/itm2.jpg" rel="prettyPhoto"><i class="fa fa-eye"></i> View</a>
                </div>
              </div>
            </div>
          </div>
          <!--/.portfolio-item-->

          <div class="portfolio-item bootstrap wordpress col-xs-12 col-sm-4 col-md-3">
            <div class="recent-work-wrap">
              <img class="img-responsive" src="images/portfolio/full/itm3.png" alt="">
              <div class="overlay">
                <div class="recent-work-inner">
                  <h3><a href="#">Dr. B S Kar</a></h3>
                  <p>There are many variations of passages of Lorem Ipsum available, but the majority</p>
                  <a class="preview" href="images/portfolio/full/itm3.jpg" rel="prettyPhoto"><i class="fa fa-eye"></i> View</a>
                </div>
              </div>
            </div>
          </div>
          <!--/.portfolio-item-->

          <div class="portfolio-item joomla wordpress apps col-xs-12 col-sm-4 col-md-3">
            <div class="recent-work-wrap">
              <img class="img-responsive" src="images/portfolio/full/itm4.jpg" alt="">
              <div class="overlay">
                <div class="recent-work-inner">
                  <h3><a href="#">Dr. S Hussen</a></h3>
                  <p>There are many variations of passages of Lorem Ipsum available, but the majority</p>
                  <a class="preview" href="images/portfolio/full/item4.png" rel="prettyPhoto"><i class="fa fa-eye"></i> View</a>
                </div>
              </div>
            </div>
          </div>
          <!--/.portfolio-item-->

          <div class="portfolio-item joomla html bootstrap col-xs-12 col-sm-4 col-md-3">
            <div class="recent-work-wrap">
              <img class="img-responsive" src="images/portfolio/full/itm5.jpg" alt="">
              <div class="overlay">
                <div class="recent-work-inner">
                  <h3><a href="#">Dr. P Patra</a></h3>
                  <p>There are many variations of passages of Lorem Ipsum available, but the majority</p>
                  <a class="preview" href="images/portfolio/full/item5.png" rel="prettyPhoto"><i class="fa fa-eye"></i> View</a>
                </div>
              </div>
            </div>
          </div>
          <!--/.portfolio-item-->

          <div class="portfolio-item wordpress html apps col-xs-12 col-sm-4 col-md-3">
            <div class="recent-work-wrap">
              <img class="img-responsive" src="images/portfolio/full/itm6.jpg" alt="">
              <div class="overlay">
                <div class="recent-work-inner">
                  <h3><a href="#">Dr. R K Nayak</a></h3>
                  <p>There are many variations of passages of Lorem Ipsum available, but the majority</p>
                  <a class="preview" href="images/portfolio/full/item6.png" rel="prettyPhoto"><i class="fa fa-eye"></i> View</a>
                </div>
              </div>
            </div>
          </div>
          <!--/.portfolio-item-->

          <div class="portfolio-item wordpress html col-xs-12 col-sm-4 col-md-3">
            <div class="recent-work-wrap">
              <img class="img-responsive" src="images/portfolio/full/itm7.jpg" alt="">
              <div class="overlay">
                <div class="recent-work-inner">
                  <h3><a href="#">Dr. P M Modi</a></h3>
                  <p>There are many variations of passages of Lorem Ipsum available, but the majority</p>
                  <a class="preview" href="images/portfolio/full/item7.png" rel="prettyPhoto"><i class="fa fa-eye"></i> View</a>
                </div>
              </div>
            </div>
          </div>
          <!--/.portfolio-item-->

          <div class="portfolio-item wordpress html bootstrap col-xs-12 col-sm-4 col-md-3">
            <div class="recent-work-wrap">
              <img class="img-responsive" src="images/portfolio/full/itm8.jpg" alt="">
              <div class="overlay">
                <div class="recent-work-inner">
                  <h3><a href="#">Dr. D Narayan</a></h3>
                  <p>There are many variations of passages of Lorem Ipsum available, but the majority</p>
                  <a class="preview" href="images/portfolio/full/itm8.jpg" rel="prettyPhoto"><i class="fa fa-eye"></i> View</a>
                </div>
              </div>
            </div>
          </div>
          <!--/.portfolio-item-->
        </div>
      </div>
    </div>
  </section>
  

<% include partials/footer %>