<% include partials/header %>
  <section id="main-slider" class="no-margin">
    <div class="carousel slide">
      <div class="carousel-inner">
        <div class="item active" style="background-image: url(images/slider/bg1.jpg)">
          <div class="container">
            <div class="row slide-margin">
              <div class="col-sm-12">
                <div class="carousel-content">
                  <h2 class="animation animated-item-1">welcome to <span>Go </span>Doctors</h2>
                  <p class="animation animated-item-2">Made by crazy CVRCIANS</p>
                  <p class="animation animated-item-2">Expert medical advice with Informed medical decisions.</p>
                  <a class="btn-slide animation animated-item-3" href="#">Get Started With Free</a>
                </div>
              </div>

              <!-- <div class="col-sm-6 hidden-xs animation animated-item-4">
                <div class="slider-img">
                  <img src="images/slider/img3.png" class="img-responsive">
                </div>
              </div> -->

            </div>
          </div>
        </div>
        <!--/.item-->
      </div>
      <!--/.carousel-inner-->
    </div>
    <!--/.carousel-->
  </section>
  <div class="feature">
    <div class="container">


      <div class="text-center">
        <h1 id="feaures">FEATURES</h1>
        <div class="col-md-3">
          <div class="hi-icon-wrap hi-icon-effect wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="300ms">
            <i class="fa fa-search"></i>
            <h2>Find Doctors</h2>
            <p>You can find the Specialised Local Doctors by a Single Click</p>
          </div>
        </div>
        <div class="col-md-3">
          <div class="hi-icon-wrap hi-icon-effect wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="600ms">
            <i class="fa fa-bell"></i>
            <h2>Take Appointment</h2>
            <p>No more Waiting you can do Appointment by Single Click</p>
          </div>
        </div>
        <div class="col-md-3">
          <div class="hi-icon-wrap hi-icon-effect wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="900ms">
            <i class="fa fa-comments"></i>
            <h2>Chat Privately</h2>
            <p>Scared to your problem,tell it to Doctors by Single Click</p>
          </div>
        </div>
        <div class="col-md-3">
          <div class="hi-icon-wrap hi-icon-effect wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="1200ms">
            <i class="fa fa-phone"></i>
            <h2>24/7 Support</h2>
            <p>We are greateful to provide unconditional Best Service</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="about">
    <div class="container">
      <div class="col-md-6 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="300ms">
        <h2>About our company</h2>
        <img src="images/partners/6.jpg" class="img-responsive" />
        <p>The company was founded in 2018 by CVRCIANS, although the company also considers Adarash,Sourav,Jhon,Mukesh and Pravash as its co-founders.
        </p>
      </div>

      <div class="col-md-6 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="600ms">
        <h2>World first futuristic Medical company</h2>
        <p>Most big corporations tend to have company profiles that are simply too wordy. With this unique display, Lonza, however, has found a way to share a lot of information without being overwhelming.
          <p>There's a time to be humble and there's a time to pat yourself on the back. Have awards? Great reviews? Influential customers/clients? Our company profile is one of the few places where it's appropriate for your brand to brag about these things.
          </p>
          <p>GO Doctors's company profile is centered around a list of the four key factors that make it unique -- most importantly, its global reach, its passionate, diverse team.</p>
          <p>The page takes the GO DOCTORS beyond just a beer for readers, sharing its company values and offering easy-action to variety of other content including the brand's current stock prices, latest annual report, and its Twitter feed. </p>
          <p>GO DOCTORS, for example, certainly doesn't play coy about telling readers that its "recognized as a leader" and listing dozens of its certifications and other acknowledgements.  </p>
      </div>
    </div>
  </div>
  <div class="text-center">
    <h1 id="teams">OUR TEAMS</h1>
  </div>

  <div class="lates">

    <div class="container">
      <div class="container">
        <div class="container">

      <div class="col-md-3 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="300ms">
        <img src="images/image/img2.png" class="img-responsive" />

      </div>
      <div class="col-md-3 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="300ms">
        <img src="images/image/img1.jpeg" class="img-responsive" />

      </div>

      <div class="col-md-3 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="600ms">
        <img src="images/image/img3.jpg" class="img-responsive" />

      </div>

      <div class="col-md-3 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="900ms">
        <img src="images/image/img5.jpg" class="img-responsive" />

      </div>
        </div>
      </div>
    </div>
  </div>

  <section id="partner">
    <div class="container">
      <div class="center wow fadeInDown">

        <p>We always provide<br>First and Foremost Technogies</p>
      </div>

      <div class="partners">
        <ul>
          <li> <a href="#"><img class="img-responsive wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="300ms" src="images/partners/bootstarp.png"></a></li>
          <li> <a href="#"><img class="img-responsive wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="600ms" src="images/partners/node.png"></a></li>
          <li> <a href="#"><img class="img-responsive wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="900ms" src="images/partners/html.png"></a></li>
          <li> <a href="#"><img class="img-responsive wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="1200ms" src="images/partners/javascript.png"></a></li>
          <li> <a href="#"><img class="img-responsive wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="1500ms" src="images/partners/mongo.png"></a></li>
        </ul>
      </div>
    </div>
    <!--/.container-->
  </section>
  <!--/#partner-->

  <section id="conatcat-info">
    <div class="container">
      <div class="row">
        <div class="col-sm-8">
          <div class="media contact-info wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="600ms">
            <div class="pull-left">
              <i class="fa fa-phone"></i>
            </div>
            <div class="media-body">
              <h2>Are you Stuck</h2>
              <p>We are honer to help you out,call this number <strong>+25 662 255</strong></br>or go to the contact page fill the form and drop your message you get an emmediate response with in 24 hours</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--/.container-->
  </section>
  <!--/#conatcat-info-->
<% include partials/footer %>

